I'm going to make a second polynomial regression by using the same diabetes data from sklearn.

In [2]:
from sklearn import datasets
from sklearn.preprocessing import PolynomialFeatures

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import pandas as pd  

diabetes_dataset = datasets.load_diabetes()

In [4]:
# To replace the problem with polynomial regression, first define the term transformer. 
# I'm going to create a secondary regression problem, so we can pass 2 to the parameter.
polynomial_transformer = PolynomialFeatures(2)

In [5]:
# And then, make the data into a polynomial regression case.
polynomial_features = polynomial_transformer.fit_transform(diabetes_dataset.data)

In [7]:
#I will change the variable names to match the polynomial regression.
features = polynomial_transformer.get_feature_names(diabetes_dataset.feature_names)

In [9]:
#Save the data into dataframe
X = pd.DataFrame(polynomial_features, columns=features)
#Test
X.head()

,1,age,sex,bmi,bp,s1,s2,s3,s4,s5,...,s3^2,s3 s4,s3 s5,s3 s6,s4^2,s4 s5,s4 s6,s5^2,s5 s6,s6^2
0,1.0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,...,0.001884,0.000113,-0.000864,0.000766,0.000007,-0.000052,0.000046,0.000396,-0.000351,0.000311
1,1.0,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,...,0.005537,-0.002939,-0.005085,-0.006861,0.001560,0.002699,0.003641,0.004669,0.006300,0.008502
2,1.0,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,...,0.001047,0.000084,-0.000093,0.000839,0.000007,-0.000007,0.000067,0.000008,-0.000074,0.000672
3,1.0,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,...,0.001299,-0.001236,-0.000818,0.000337,0.001177,0.000779,-0.000321,0.000515,-0.000212,0.000088
4,1.0,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,...,0.000066,-0.000021,-0.000260,-0.000380,0.000007,0.000083,0.000121,0.001023,0.001492,0.002175

In [11]:
#Target variable
y = pd.DataFrame(diabetes_dataset.target, columns=['diabetes'])
y

     diabetes
0       151.0
1        75.0
2       141.0
3       206.0
4       135.0
..        ...
437     178.0
438     104.0
439     132.0
440     220.0
441      57.0

[442 rows x 1 columns]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=5)

In [13]:
linear_regression_model = LinearRegression()

In [14]:
linear_regression_model.fit(X_train, y_train)

LinearRegression()

In [15]:
y_test_predict = linear_regression_model.predict(X_test)

In [16]:
mse = mean_squared_error(y_test, y_test_predict)

mse ** 0.5

57.87704902724885